---
import { SITE_TITLE } from "../consts";
import "../styles/global.css";
import me from "../images/me.jpg";
import Github from "../components/icons/Github.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import codeWars from "../images/codewars.svg";
import tresEnRaya from "../images/tic-tac-toe.png";
import Project from "../components/Project.astro";
import to_do from "../images/to-do.png";
import calc from "../images/calc.png";
import contraGener from "../images/contra_gener.png";
import html5 from "../images/html-5.svg";
import css3 from "../images/css-3.svg";
import javascript from "../images/javascript.svg";
import mysql from "../images/mysql.svg";
import php from "../images/php.svg";
import bootstrap from "../images/bootstrap.svg";
import git_icon from "../images/git-icon.svg";
import react from "../images/react.svg";
import Twitter from "../components/icons/Twitter.astro";
import cepva from "../images/cepva.png";
import Reddit from "../components/icons/Reddit.astro";
import gmail from "../images/gmail.svg"
import pagina from "../images/pagina.png"
import curriculum from "../components/Curriculum.pdf"

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{SITE_TITLE}</title>
  </head>
  <body>
    <header class="navigation-var">
      <a href="#" class="logo">Sebastian <span>Alvarez</span></a>
      <ul>
        <li><a href="#Inicio">Inicio</a></li>
        <li><a href="#SobreMi">Sobre mi</a></li>
        <li><a href="#Proyectos">Proyectos</a></li>
        <li><a href="#Contactos">Contacto</a></li>
      </ul>
      <button class="hamburger" id="hamburguer">
        <div class="bar"></div>
      </button>
      <nav class="mobile-nav" id="mobile-nav">
        <a href="#Inicio">Inicio</a>
        <a href="#SobreMi">Sobre mi</a>
        <a href="#Proyectos">Proyectos</a>
        <a href="#Contactos">Contacto</a>
      </nav>
    </header>
    <div class="redes"></div>
    <section class="home" id="Inicio">
      <div class="hero-image"></div>
      <div class="who">
        <h1>Programador fullstack</h1>
        <p>Apasionado programador amante de la tecnología.</p>
        <div class="links">
          <a href="https://github.com/sebas-gith/" target="_blank"><Github /></a
          >
          <a href="https://www.linkedin.com/in/sebastian-g-alvarez-c-99744b20a/"
            ><Linkedin width="32" height="32" /></a
          >
          <a href="https://www.codewars.com/users/sebas206" target="_blank"
            ><img src={codeWars} alt="Code Wars" /></a
          >
          <a target="_blank" href={curriculum}>Curriculum</a>
        </div>
      </div>
    </section>
  </body>
  <section class="about" id="SobreMi">
    <h1>Sobre mi</h1>
    <p>
      Como programador web, mi experiencia se centra en el desarrollo de
      aplicaciones dinámicas y la gestión de bases de datos. Soy un autodidacta
      apasionado que siempre busca nuevos desafíos y soluciones innovadoras.
      Estoy preparado para aportar mi creatividad y conocimiento en cada
      proyecto en el que participe. Mi objetivo es seguir creciendo
      profesionalmente y contribuir al éxito de cualquier equipo o empresa en la
      que trabaje. La tecnología es mi pasión, y mi determinación para seguir
      aprendiendo y mejorando es mi mayor fortaleza. Estoy emocionado por las
      oportunidades que me esperan en este apasionante campo de la programación
      web.
    </p>
    <div class="stack">
      <div class="stack-list">
        <li><img src={html5} width="100px" alt="html5" /></li>
        <li><img src={css3} width="100px" alt="css3" /></li>
        <li><img src={javascript} width="100px" alt="javascript" /></li>
        <li><img src={php} width="100px" alt="php" /></li>
        <li><img src={mysql} width="100px" alt="mysql" /></li>
        <li><img src={bootstrap} alt="bootstrap" width="100px" /></li>
        <li><img src={git_icon} alt="git-icon" width="100px" /></li>
        <li><img src={react} alt="react" width="100px" /></li>
      </div>
    </div>
  </section>
  <section class="projects" id="Proyectos">
    <h1>Proyectos</h1>
    <Project
      title="Tres-en-raya"
      img={tresEnRaya}
      enlaceGithub="https://github.com/sebas-gith/tres-en-raya"
      enlaceWeb="https://tres-en-raya-sigma.vercel.app/"
    />
    <Project
      title="To-do App"
      img={to_do}
      enlaceGithub="https://github.com/sebas-gith/todoApp"
      enlaceWeb="https://sebas-gith.github.io/todoApp/"
    />
    <Project
      title="Calculadora"
      img={calc}
      enlaceGithub="https://github.com/sebas-gith/CalculatorJs"
      enlaceWeb="https://sebas-gith.github.io/CalculatorJs/"
    />
    <Project
      title="Generador de contraseñas"
      img={contraGener}
      enlaceGithub="https://github.com/sebas-gith/Generador_de_contrasenas"
      enlaceWeb="https://sebas-gith.github.io/Generador_de_contrasenas/"
    />
    <Project
      title="Politécnico Virgen de la Altagracia"
      img={cepva}
      enlaceGithub="http://cepva.edu.do/Cepva_php/view/Login/creadores/creadores.html"
      enlaceWeb="http://cepva.edu.do/Cepva_php/view/Login/"
    />
    <Project
      title="Sitio web"
      img={pagina}
      enlaceGithub="https://github.com/sebas-gith/Personal"
      enlaceWeb="#"
    />
  </section>
  <section class="contacto" id="Contactos">
    <h1>👇 Contáctame</h1>
    <div class="icons">
      <a href="https://github.com/sebas-gith/" target="_blank"
        ><Github width="100" height="100" /></a
      >
      <a
        href="https://www.linkedin.com/in/sebastian-g-alvarez-c-99744b20a/"
        target="_blank"><Linkedin width="100" height="100" /></a
      >

      <a href="https://twitter.com/SebastianAlvaz" target="_blank"
        ><Twitter width="100" height="100" /></a
      >
      <a href="mailto:sebastianalvarezconcepcion@gmail.com" target="_blank"
      ><img src={gmail} width="100px" alt="gmail" /></a
    >
    </div>
  </section>
  <footer class="footer">
    <span>© 2022-2023 Sebastian Alvarez</span>
  </footer>
  <script src="../scripts/script.js"></script>
</html>
